.filter-year {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-2 {
  padding: 10px 10px;
}

.font-small {
  font-size: 1rem;
}

.grid-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item2 {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.mt-2 {
  margin-top: 20px;
}